<section id="talen_agent">
    <div class="container">
        <div class="row">
            <div class="titl_sec">
                <div class="col-xs-6">
                    <h3 class="main_titl text-left">
                      Quienes somos
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img class="img-responsive img-hover" src="http://placehold.it/270x255" alt="">
                    </div>
                    <div class="panel-body">
                        <h3 class="sec_titl text-center">
                        <a href="agents_single.html">Agente 1</a>                                   </h3>

                        <p class="sec_desc text-center">
                            Agente Inmobiliario
                        </p>
                        <div class="panel_hidd">
                            <hr>
                            <p class="phon text-center"> <a href="tel:253-891-8159"> Tel: 253-891-8159 </a> </p>

                            <div class="soc_icon">
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-linkedin"></i> </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img class="img-responsive img-hover" src="http://placehold.it/270x255" alt="">
                    </div>
                    <div class="panel-body">
                        <h3 class="sec_titl text-center">
                        <a href="agents_single.html">Agente 2</a>                                   </h3>

                        <p class="sec_desc text-center">
                            Agente Inmobiliario
                        </p>
                        <div class="panel_hidd">
                            <hr>
                            <p class="phon text-center"> <a href="tel:253-891-8159"> Tel: 253-891-8159 </a> </p>

                            <div class="soc_icon">
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-linkedin"></i> </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img class="img-responsive img-hover" src="http://placehold.it/270x255" alt="">
                    </div>
                    <div class="panel-body">
                        <h3 class="sec_titl text-center">
                        <a href="agents_single.html">Agente 3</a>                                   </h3>

                        <p class="sec_desc text-center">
                            Agente Inmobiliario
                        </p>
                        <div class="panel_hidd">
                            <hr>
                            <p class="phon text-center"> <a href="tel:253-891-8159"> Tel: 253-891-8159 </a> </p>

                            <div class="soc_icon">
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-linkedin"></i> </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-image">
                        <img class="img-responsive img-hover" src="http://placehold.it/270x255" alt="">
                    </div>
                    <div class="panel-body">
                        <h3 class="sec_titl text-center">
                        <a href="agents_single.html">Agente 4</a>                                   </h3>

                        <p class="sec_desc text-center">
                            Agente Inmobiliario
                        </p>
                        <div class="panel_hidd">
                            <hr>
                            <p class="phon text-center"> <a href="tel:253-891-8159"> Tel: 253-891-8159 </a> </p>

                            <div class="soc_icon">
                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                <a href="#"> <i class="fa fa-linkedin"></i> </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
