<section id="feat_propty">
    <div class="container">
        <div class="row">
            <div class="titl_sec">
                <div class="col-xs-6">
                  <h3 class="main_titl text-left">
                    Destacadas
                  </h3>
                </div>
                <div class="col-xs-6">
                    <h3 class="link_titl text-right">
                      <%= link_to 'Ver todas', properties_for_web_path %>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
            <% presenter.highlighted_properties(3).each do |property| %>
              <%= render "main/property", property: property %>
            <% end %>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
