<div id="slider" class="silde_img flexslider">
    <ul class="slides">
       <!-- Slide 1 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $425.000 </p>
                <p class="sli_titl"> Amillarah Private Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 2 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $450.000 </p>
                <p class="sli_titl"> Amillarah Lorem Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 3 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $445.000 </p>
                <p class="sli_titl"> Amillarah Dolar Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 4 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $545.000 </p>
                <p class="sli_titl"> Amillarah Amet Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 5 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $475.000 </p>
                <p class="sli_titl"> Amillarah Consectetuer Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 6 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $555.000 </p>
                <p class="sli_titl"> Amillarah Ipsum Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 7 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $595.000 </p>
                <p class="sli_titl"> Amillarah Elition Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
        <!-- Slide 8 -->
        <li>
            <img src="http://placehold.it/770x460" alt="Slider image" />
            <div class="slide-info">
                <p class="sli_price"> $585.000 </p>
                <p class="sli_titl"> Amillarah Adituer Islands </p>
                <p class="sli_desc"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit </p>
            </div>
        </li>
    </ul>
</div>
