<div id="slider" class="silde_img flexslider">
    <ul class="slides">
       <% presenter.highlighted_properties(7).each do |property| %>
          <li>
              <img src="http://placehold.it/770x460" alt="Slider image" />
              <div class="slide-info">
                  <p class="sli_price"> <%= number_to_currency property.price, unit: property.currency.upcase %> </p>
                  <p class="sli_titl"><%= property.title %></p>
                  <p class="sli_desc"><%= property.description.truncate(50) %></p>
              </div>
          </li>
        <% end %>
    </ul>
</div>
