<header class="content-header">
  <h1>Cargar imágenes de la inversión
    <%= back_to_link 'Volver', '', 'pull-right' %>
  </h1>
</header>

<section class="content">
  <!-- Photos -->
  <div class="row">
    <div class="col-md-12">
      <%= render partial: "investments/investment_photos",
            locals: { investment: @investment } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <fieldset class="form-group">
        <%= link_to 'Cargar imágenes', [:investments], class: 'btn btn-success', data: { 'disable-with' => 'Guardando...' } %>
      </fieldset>
    </div>
  </div>
</section>

