@font-face {
  font-family: 'Serifa';
  /* src: font-url('fonts/serifan.ttf') format('truetype'); */
  src: font-url("SERIFAN.TTF") unquote("format('truetype')");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Serifab';
  /* src: font-url('fonts/serifan.ttf') format('truetype'); */
  src: font-url("SERIFAB.TTF") unquote("format('truetype')");
  font-weight: bold;
  font-style: normal;
}

// Blog
.blog-post {
  .image-container, h1 {
    text-align: center;
  }
  img {
    width: 100%;
    margin-bottom: 20px;
  }
  p, .body {
    text-align: justify;
    line-height: 20px;
  }
}
