@font-face {
  font-family: 'Serifa';
  /* src: font-url('fonts/serifan.ttf') format('truetype'); */
  src: font-url("serifan.ttf") unquote("format('truetype')");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Serifab';
  /* src: font-url('fonts/serifan.ttf') format('truetype'); */
  src: font-url("serifab.ttf") unquote("format('truetype')");
  font-weight: bold;
  font-style: normal;
}


