<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">
      <span class="fa fa-photo"></span>
      Imágenes <span class="text-muted" style="font-size: 13px;"> (Arrastrá las fotos o elegilas manualmente)</span>
    </h3>
  </div>

  <div class="box-body">

    <input id="fileupload" type="file" name="photo[file]"
        data-url="<%= url_for([property, :photos]) %>" multiple>
    <br />

    <div id="js-progress-bar" class="progress xs">
      <div class="progress-bar progress-bar-aqua"></div>
    </div>

    <br />

    <ul class="row photos" id="js-photos">
      <%= render property.photos %>
    </ul>

    <p class="text-muted" style="font-size: 13px;"> *Para ordenar las fotos, simplemente hay que arrastralas a una nueva posición </p>

  </div>
</div>


<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript">
  $(function() {
    $("ul.photos").sortable({
      revert      : 100,
      placeholder: 'placeholder',
      stop: function(event, ui) {
        var id    = ui.item.attr("data-id");
        var index = ui.item.index();
        $.ajax({
          type: 'PUT',
          contentType: "application/json",
          url: '/admin/photos/'+id+'?index='+index,
          success: function(msg) {
            console.log('Nuevo ordenamiento');
          }
        });
      }
    });
  });
</script>

