<header class="content-header">
  <h1>Crear un nuevo propietario
    <% unless @modal_form %>
      <%= back_to_link 'Volver', [:owners], 'pull-right' %>
    <% end %>
  </h1>
</header>

<section class="content">
  <%= render 'form', form_format: (@modal_form ? :json : ''),
        form_remote: @modal_form ? true : false %>
</section>

