<header class="content-header">
  <%= link_to 'Nuevo usuario', new_user_path, class: 'btn btn-primary pull-right' %>
  <h1>Usuarios</h1>
</header>

<section class="content">

  <article class="box box-primary">
    <section class="box-body">

      <table class="table table-custom table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th class="text-center">Correo</th>
            <th class="text-center">Rol</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @presenter.users %>
        </tbody>
      </table>

    </section>
  </article>

</section>
