<header class="content-header">
  <h1>Crear una propiedad
    <%= back_to_link 'Volver', [:properties], 'pull-right' %>
  </h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>

