.fake-label {
  height: 20px;
  margin-bottom: 5px;
}

.highlight2 {
  background: yellow;
}

.inline-check-box {
  margin-right: 5px !important;
}

.sidebar-toggle h3 {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 18px;
}

.table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}

/* Usado en tabla de listado de registros, sirve para alinear el contenido
   de la última columna a la derecha */
.table-custom > tbody > tr > td:last-child {
   text-align: right;
}
.table-custom > tbody > tr > td:last-child.text-center {
   text-align: center;
}

.table-custom > thead > tr > th:last-child {
   text-align: right;
}

td.truncate {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.is-selected td {
  background-color: rgba(255,255,0, 0.3);
}

/* Estilo de link para volver atrás */
.return-back {
  font-size: 13px;

  a, a:hover {
    color: #777;
  }
}

/* Photo */
.photo-inner > .item > img {
  margin: 0 auto;
}
.photo-actions > a {
  margin-top: -95px;
}

.photos {
  padding: 0;
  margin: 0;
  margin-top: -10px;
  clear: both;
  li {
    list-style-type: none;
    padding: 0;
    margin: 0px 5px 0px 5px;
    text-align: center;
    width: 150px;
    height: 150px;
    img {
      margin-bottom: 10px;
      float: left;
    }
  }
}
.photos li.ui-sortable-helper {
  border: 2px solid #3498db;
}

.photos li.placeholder {
  width: 150px;
  height: 150px;
  float: left;
  background: #eee;
  border: 2px dashed #bbb;
  display: block;
  opacity: 0.6;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/* Mensaje de ayuda en formularios */
.help-message {
  color: #777;
  font-weight: 200;
  font-style: italic;
}

/* Mensaje de Opcional en los labels */
.optional-input {
  color: #888;
  font-weight: 600;
}

/* Útil para usar con multiples checkboxes */
.form-checkboxes {
  label { margin: 10px 10px 10px 5px; }
}

.features.form-checkboxes label {
  width: 42%;
}

/* Trix editor */
.trix-content {
  background: white;
  min-height: 35em;
  color: #555;
  border-color: 1px solid #CCC;
}

/* Images */
img.thumbnail {
  width: 80px;
}
