<html>
  <body>
    Un usuario ha enviado una consulta sobre una propiedad
    <dl>
      <dt> Propiedad </dt>
      <dd> <%= link_to @property.title, @property %> </dd>

      <dt> Nombre </dt>
      <dd> <%= @question['name'] %> </dd>

      <dt> Correo </dt>
      <dd> <%= @question['email'] %> </dd>

      <dt> Mensaje </dt>
      <dd> <%= simple_format(@question['message'][0]) %> </dd>
    </dl>
  </body>
</html>
