<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

      <li class="header"> TITLE </li>

      <li class="header"> TITLE 2 </li>

      <li class="header"> TITLE 2 </li>

    </ul>

  </section>
</aside>
