<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

        <%= side_link text: 'Inicio', path: root_path, icon_class: 'home' %>

    </ul>

  </section>
</aside>
