<%= form_for @feature do |f| %>

<article>
  <section>

    <div class="row">

      <div class="col-md-8">
        <div class="box box-primary">

          <div class="box-body">

            <div class="row">

              <div class="col-md-12">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control',
                          placeholder: 'Ingrese el nombre de la característica' %>
              </div>

            </div>

          </div>

        </div>
      </div>

      </div>
  </section>
</article>

<div class="row">
  <div class="col-md-12">
    <fieldset class="form-group">
      <%= f.submit 'Guardar característica', class: 'btn btn-success', data: { 'disable-with' => 'Guardando...' } %>
    </fieldset>
  </div>
</div>

<% end %>

